{% extends 'SdtMessageBundle::layout.html.twig' %}

{% block title %}Nouveau message privé{% endblock %}

{% block content %}
	<h1>Nouveau message privé</h1>

	<div class="bloc">
        <div class="title">
            <h2>Envoyer un message</h2>
        </div>
        <div class="content">
			<form action="{{ url('ornicar_message_thread_new') }}" method="post">

				<div class="input">
					<label>Destinataire(s)</label>
					{% if user is defined %}
						{{ form_widget(form.recipient, { 'attr': {'value': user.username } }) }}
					{% else %}
						{{ form_widget(form.recipient) }}
					{% endif %}
					{{ form_errors(form.recipient) }}
				</div>

				<div class="input">
					<label>Sujet</label>
					{{ form_widget(form.subject) }}
				</div>

				<div class="input">
					<label>Message</label>
					{{ form_widget(form.body, { 'attr': {'class': 'tinymce', 'rows': '15', 'data-theme': 'simple'} }) }}
					<a href="{{ path('application_sonata_media_upload') }}" data-toggle="modal" target="_blank">Upload d'un media</a>
				</div>

				{{ form_rest(form) }}

				<div class="submit">
				    <input type="submit" />
				</div>
				
			</form>
		</div>
	</div>
{% endblock %}