{% block fast_login %}
	<form action="{{ path("fos_user_security_check") }}" method="post">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" class="input-large" placeholder="Votre pseudo ou adresse mail" />

	    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
	    <input type="password" id="password" name="_password" class="input-large" placeholder="Votre mot de passe" />
	    
	    <label for="remember_me">
	    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
	    </label>

	    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn" />
	</form>
{% endblock %}