{% extends "SdtForumBundle::layout.html.twig" %}

{% block title %}{{ forum.name }}{% endblock %}

{% block content %}
	<h1><a href="{{ path('SdtForumBundle_forum_show', {'slug': forum.slug }) }}">{{ forum.name }}</a></h1>

	{% for child in childs %}
		{% if loop.first %}
			<div class="bloc">
		        <div class="title">
		            <h2>Sous-catégories</h2>
		        </div>
		        <div class="content">
					<table>
						<thead>
							<tr>
								<th>Forum</th>
								<th>Sujets</th>
								<th>Réponses</th>
								<th>Dernier message</th>
							</tr>
						</thead>

						<tbody>
		{% endif %}

		<tr>
			<td>
				<h5><a href="{{ path('SdtForumBundle_forum_show', {'slug': child.slug }) }}">{{ child.name }}</a></h5><br />
				<span>{{ child.description }}</span>
			</td>

			<td>
				{{ child.numTopics }}
			</td>

			<td>
				{{ child.numPosts }}
			</td>

			<td>
				{% if child.lastPost != '' %}
					Posté par <a href="{{ path('application_sonata_user_profile', {'id': child.lastPost.author.id, 'username': child.lastPost.author.username }) }}">{{ child.lastPost.author.username }}</a><br />
					
					<a href="{{ path('SdtForumBundle_topic_show', {'slug': child.lastTopic.slug }) }}#message-{{ child.lastPost.id }}">{{ time_diff(child.lastPost.createdAt) }}</a>
				{% else %}
					Aucun message.
				{% endif %}
			</td>
		</tr>

		{% if loop.last %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}
	{% endfor %}

	

	<div class="bloc">
        <div class="title">
            <h2>Liste des sujets</h2>
        </div>
        <div class="content">
        	<div class="submit">
        		<a href="#sujet"><input type="submit" value="Créer un sujet" /></a>
        	</div>

			<div class="navigation" style="float: right;">
			    {{ pagination.render()|raw }}
			</div>
			<table>
				<thead>
					<tr>
						<th>Titre du sujet</th>
						<th>Messages</th>
						<th>Dernier message</th>
					</tr>
				</thead>
				<tbody>
					{% for topic in pagination %}
						<tr>
							<td>
								<a href="{{ path('SdtForumBundle_topic_show', {'slug': topic.slug }) }}">{{ topic.subject }}</a><br />
								Posté par <a href="{{ path('application_sonata_user_profile', {'id': topic.author.id, 'username': topic.author.username }) }}">{{ topic.author.username }}</a>, <a href="{{ path('SdtForumBundle_topic_show', {'slug': topic.slug }) }}">{{ time_diff(topic.createdAt) }}</a><br />
							</td>

							<td>
								{{ topic.numPosts }}
							</td>

							<td>
								{% if topic.lastPost != '' %}
									Posté par <a href="{{ path('application_sonata_user_profile', {'id': topic.lastPost.author.id, 'username': topic.lastPost.author.username }) }}">{{ topic.lastPost.author.username }}</a><br />

									<a href="{{ path('SdtForumBundle_topic_show', {'slug': topic.slug }) }}#message-{{ topic.lastPost.id }}">{{ time_diff(topic.lastPost.createdAt) }}</a>
								{% else %}
									Aucun message.
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

				<div class="navigation" style="float: right;">
					{{ pagination.render()|raw }}
				</div>

			<div class="submit">
				<a href="#sujet"><input type="submit" value="Créer un sujet" /></a>
			</div>
		</div>
	</div>

	<div class="bloc">
        <div class="title">
            <h2>Créer un sujet</h2>
        </div>
        <div class="content">
			<form id="sujet" action="{{ path('SdtForumBundle_forum_show', {'slug': forum.slug }) }}" method="post" {{ form_enctype(form) }}>
				<div class="input">
					<label>Titre</label>
					{{ form_widget(form.subject) }}
				</div>

				<div class="input">
					<label>Sous-titre</label>
					{{ form_widget(form.description) }}
				</div>

				<div class="input textarea">
					<label>Message</label>
					{{ form_widget(form.message, { 'attr': {'class': 'tinymce', 'rows': '15', 'data-theme': 'simple'} }) }}
					<a href="{{ path('application_sonata_media_upload') }}" data-toggle="modal" target="_blank">Upload d'un media</a>
				</div>

				<div class="submit">
					<input type="submit" class="btn btn-primary" />
				</div>

				{{ form_rest(form) }}
			</form>
		</div>
	</div>
{% endblock %}